<<<<<<< HEAD
.wrapper {
  overflow-x: hidden;
}

.wrapper h1{
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Courier New', 'DFKai-SB';
  background-color: blue;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
}
.wrapper .Name{
  color: darkblue;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courier New', 'DFKai-SB';
  background-color: lightblue;
  border: blue solid 8px;
  text-align: center;
  margin: 0 auto;
}
.wrapper .FullName{
  color: black;
  font-size: 30px;
  font-family: 'Courier New', 'DFKai-SB';
  display: inline;
}

.wrapper .Menu{
  background-color: lightgray;
  display: block;
}
.wrapper .Menu p{
  color: white;
  background-color: darkgray;
  font-size: 24px;
  font-family: 'Courier New', 'DFKai-SB';
  font-weight: bold;
  padding: 10px;
  margin-left: 10px;
  display: block;
  text-align: center;
}
.wrapper .Menu a{
  color: black;
  background-color: lightgray;
  font-size: 24px;
  font-family: 'Courier New', 'DFKai-SB';
  font-weight: bold;
  padding: 10px;
  padding-left: 15px;
  display: block;
}
.wrapper .Menu select{
  color: black;
  background-color: lightgray;
  font-size: 24px;
  font-family: 'Courier New', 'DFKai-SB';
  font-weight: bold;
  padding: 10px;
  display: block;
  border: 0;
}

.wrapper .hello{
  margin-top: 20px;
}
.wrapper .hello .card-header{
  font-size: 20px;
  font-weight: bold;
  background-color: yellow;
}
.wrapper .hello .card-body{
  padding-left: 16px;
  font-size: 20px;
}

.wrapper .SubTitle1{
  margin-top: 20px;
}
.wrapper .SubTitle1 .card-header{
  font-size: 20px;
  font-weight: bold;
  background-color: lightblue;
}
.wrapper .SubTitle1 .card-body{
  padding-left: 8px;
}
.wrapper .SubTitle1 .InfoPart{
  color: black;
  font-size: 20px;
  padding-left: 8px;
  margin-bottom: 15px;
}

.wrapper .SubTitle2{
  margin-top: 20px;
}
.wrapper .SubTitle2 .card-header{
  font-size: 20px;
  font-weight: bold;
  background-color: pink;
}
.wrapper .SubTitle2 .card-body{
  color: black;
  font-size: 20px;
  padding-left: 16px;
  margin-top: 10px;
}
.wrapper .SubTitle2 .ExpPart{
  padding-right: 5px;
}

.wrapper .SubTitle3{
  margin-top: 20px;
}
.wrapper .SubTitle3 p{
  padding-left: 8px;
}
.wrapper .SubTitle3 .card-header{
  font-size: 20px;
  font-weight: bold;
  background-color: yellowgreen;
}
.wrapper .SubTitle3 .card-body{
  color: black;
  font-size: 20px;
  padding-left: 8px;
  padding-right: 5px;
  margin-top: 10px;
}
.wrapper .SubTitle3 .Mod1Part{
  font-size: 16px;
  display: block;
  border: red dotted 5px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.wrapper .SubTitle3 .Mod2Part{
  font-size: 16px;
  display: block;
  border: orange dotted 5px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.wrapper .SubTitle3 .Mod3Part{
  font-size: 16px;
  display: block;
  border: greenyellow dotted 5px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.wrapper .SubTitle3 .Mod4Part{
  font-size: 16px;
  display: block;
  border: green dotted 5px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.wrapper .SubTitle3 .Mod5Part{
  font-size: 16px;
  display: block;
  border: blue dotted 5px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.wrapper .SubTitle3 .Mod6Part{
  font-size: 16px;
  display: block;
  border: purple dotted 5px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.wrapper .SubTitle3 .PicOfMods p{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
.wrapper .SubTitle3 .PicOfMods img{
  border: gray solid 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
}

.wrapper .SubTitle3 .buttonGroupA-1{
  color: black;
  font-size: 16px;
  background-color: whitesmoke;
  border: none;
  margin-bottom: 8px;
}
.wrapper .SubTitle3 .buttonGroupA-2{
  color: black;
  font-size: 16px;
  background-color: greenyellow;
  border: none;
  margin-bottom: 8px;
}

.wrapper .SubTitle3 .Mod1Part .card{
  margin-top: 5px;
  margin-bottom: 5px;
  border: lightskyblue solid 2px;
}
.wrapper .SubTitle3 .Mod1Part .card-header{
  color: black;
  font-size: 16px;
  background-color: lightblue;
}
.wrapper .SubTitle3 .Mod2Part .card{
  margin-top: 5px;
  margin-bottom: 5px;
  border: pink solid 2px;
}
.wrapper .SubTitle3 .Mod2Part .card-header{
  color: black;
  font-size: 16px;
  background-color: lightpink;
}
.wrapper .SubTitle3 .Mod3Part .card{
  margin-top: 5px;
  margin-bottom: 5px;
  border: purple solid 2px;
}
.wrapper .SubTitle3 .Mod3Part .card-header{
  color: black;
  font-size: 16px;
  background-color: rgb(175, 130, 175);
}
.wrapper .SubTitle3 .Mod4Part .card-header{
  color: black;
  font-size: 16px;
  background-color: lightblue;
}
.wrapper .SubTitle3 .Mod5Part .card-header{
  color: black;
  font-size: 16px;
  background-color: lightblue;
}
.wrapper .SubTitle3 .Mod6Part .card-header{
  color: black;
  font-size: 16px;
  background-color: lightblue;
}

.SubTitle1 h2{
  display: inline;
}
.SubTitle2 h2{
  display: inline;
}
.SubTitle3 h2{
  display: block;
=======
.wrapper {
  overflow-x: hidden;
}

.wrapper h1{
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Courier New', 'DFKai-SB';
  background-color: blue;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
}
.wrapper .Name{
  color: darkblue;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courier New', 'DFKai-SB';
  background-color: lightblue;
  border: blue solid 8px;
  text-align: center;
  margin: 0 auto;
}
.wrapper .FullName{
  color: black;
  font-size: 30px;
  font-family: 'Courier New', 'DFKai-SB';
  display: inline;
}

.wrapper .Menu{
  background-color: lightgray;
  display: block;
}
.wrapper .Menu p{
  color: white;
  background-color: darkgray;
  font-size: 24px;
  font-family: 'Courier New', 'DFKai-SB';
  font-weight: bold;
  padding: 10px;
  margin-left: 10px;
  display: block;
  text-align: center;
}
.wrapper .Menu a{
  color: black;
  background-color: lightgray;
  font-size: 24px;
  font-family: 'Courier New', 'DFKai-SB';
  font-weight: bold;
  padding: 10px;
  padding-left: 15px;
  display: block;
}
.wrapper .Menu select{
  color: black;
  background-color: lightgray;
  font-size: 24px;
  font-family: 'Courier New', 'DFKai-SB';
  font-weight: bold;
  padding: 10px;
  display: block;
  border: 0;
}

.wrapper .hello{
  margin-top: 20px;
}
.wrapper .hello .card-header{
  font-size: 20px;
  font-weight: bold;
  background-color: yellow;
}
.wrapper .hello .card-body{
  padding-left: 16px;
  font-size: 20px;
}

.wrapper .SubTitle1{
  margin-top: 20px;
}
.wrapper .SubTitle1 .card-header{
  font-size: 20px;
  font-weight: bold;
  background-color: lightblue;
}
.wrapper .SubTitle1 .card-body{
  padding-left: 8px;
}
.wrapper .SubTitle1 .InfoPart{
  color: black;
  font-size: 20px;
  padding-left: 8px;
  margin-bottom: 15px;
}

.wrapper .SubTitle2{
  margin-top: 20px;
}
.wrapper .SubTitle2 .card-header{
  font-size: 20px;
  font-weight: bold;
  background-color: pink;
}
.wrapper .SubTitle2 .card-body{
  color: black;
  font-size: 20px;
  padding-left: 16px;
  margin-top: 10px;
}
.wrapper .SubTitle2 .ExpPart{
  padding-right: 5px;
}

.wrapper .SubTitle3{
  margin-top: 20px;
}
.wrapper .SubTitle3 p{
  padding-left: 8px;
}
.wrapper .SubTitle3 .card-header{
  font-size: 20px;
  font-weight: bold;
  background-color: yellowgreen;
}
.wrapper .SubTitle3 .card-body{
  color: black;
  font-size: 20px;
  padding-left: 8px;
  padding-right: 5px;
  margin-top: 10px;
}
.wrapper .SubTitle3 .Mod1Part{
  font-size: 16px;
  display: block;
  border: red dotted 5px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.wrapper .SubTitle3 .Mod2Part{
  font-size: 16px;
  display: block;
  border: orange dotted 5px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.wrapper .SubTitle3 .Mod3Part{
  font-size: 16px;
  display: block;
  border: greenyellow dotted 5px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.wrapper .SubTitle3 .Mod4Part{
  font-size: 16px;
  display: block;
  border: green dotted 5px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.wrapper .SubTitle3 .Mod5Part{
  font-size: 16px;
  display: block;
  border: blue dotted 5px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.wrapper .SubTitle3 .Mod6Part{
  font-size: 16px;
  display: block;
  border: purple dotted 5px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.wrapper .SubTitle3 .PicOfMods p{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
.wrapper .SubTitle3 .PicOfMods img{
  border: gray solid 5px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}

.wrapper .SubTitle3 .buttonGroupA-1{
  color: black;
  font-size: 16px;
  background-color: whitesmoke;
  border: none;
  margin-bottom: 8px;
}
.wrapper .SubTitle3 .buttonGroupA-2{
  color: black;
  font-size: 16px;
  background-color: greenyellow;
  border: none;
  margin-bottom: 8px;
}

.wrapper .SubTitle3 .Mod1Part .card{
  margin-top: 5px;
  margin-bottom: 5px;
  border: lightskyblue solid 2px;
}
.wrapper .SubTitle3 .Mod1Part .card-header{
  color: black;
  font-size: 16px;
  background-color: lightblue;
}
.wrapper .SubTitle3 .Mod2Part .card{
  margin-top: 5px;
  margin-bottom: 5px;
  border: pink solid 2px;
}
.wrapper .SubTitle3 .Mod2Part .card-header{
  color: black;
  font-size: 16px;
  background-color: lightpink;
}
.wrapper .SubTitle3 .Mod3Part .card{
  margin-top: 5px;
  margin-bottom: 5px;
  border: purple solid 2px;
}
.wrapper .SubTitle3 .Mod3Part .card-header{
  color: black;
  font-size: 16px;
  background-color: rgb(175, 130, 175);
}
.wrapper .SubTitle3 .Mod4Part .card-header{
  color: black;
  font-size: 16px;
  background-color: lightblue;
}
.wrapper .SubTitle3 .Mod5Part .card-header{
  color: black;
  font-size: 16px;
  background-color: lightblue;
}
.wrapper .SubTitle3 .Mod6Part .card-header{
  color: black;
  font-size: 16px;
  background-color: lightblue;
}

.SubTitle1 h2{
  display: inline;
}
.SubTitle2 h2{
  display: inline;
}
.SubTitle3 h2{
  display: block;
>>>>>>> ffbbef03719977b5219eb8a3f0bc48696787f98d
}